## Initial Pre-processing

This notebook demonstrates my pre-processing steps for water main break data. I download and import the most recently available data from the [regional database](https://open-kitchenergis.opendata.arcgis.com/datasets/KitchenerGIS::water-main-breaks/about) and get rid of the unnecessary columns so we can focus on the features that are going to essential for our model later on.

Let's dive in!

In [84]:
# Basic imports

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Configuration
%matplotlib inline

In [85]:
# Import our most recent data and check out a sample
break_data = pd.read_csv("../data/raw/water_data.csv")
break_data.sample(10)

/var/folders/xs/d1td623j4l5_3s9p262jr4yw0000gn/T/ipykernel_40984/2372090220.py:2: DtypeWarning:

Columns (7,18,20,21,40,69) have mixed types. Specify dtype option on import or set low_memory=False.

,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,ROAD_CLOSED,SIDEWALK_CLOSED,HOUR_IMPACTED,UNITS_IMPACTED,CW_SERVICE_REQUEST,STATUS,...,CRITICALITY,REL_CLEANING_AREA,REL_CLEANING_SUBAREA,UNDERSIZED,SHALLOW_MAIN,CONDITION_SCORE,OVERSIZED,CLEANED,GlobalID,Shape__Length
6115,9549,1377,1236643200000,MAIN,Open,Open,8-12 hours,NaN,NaN,REPAIR COMPLETED,...,5.0,1.0,31,N,N,9.35,N,N,959775e3-1507-415a-9952-6a98953f61ee,13.305506
3633,8922,2014,1415232000000,MAIN,Open,Open,8-12 hours,NaN,NaN,REPAIR COMPLETED,...,6.0,5.0,3,N,N,7.75,N,N,46ebcd70-c014-45e7-92c8-4a746182a72c,1.428562
2261,8578,1336,1231718400000,MAIN,Open,Open,8-12 hours,NaN,NaN,REPAIR COMPLETED,...,5.0,1.0,20,N,N,9.35,N,N,b78a9daf-ccbe-4912-a462-a4602bfdaf99,0.935479
8464,10148,497,997488000000,MAIN,Open,Open,8-12 hours,NaN,NaN,REPAIR COMPLETED,...,-1.0,5.0,6,N,N,9.85,N,N,66989675-9c3e-469d-95d0-4ea009a1300e,11.080928
3069,8782,897,971481600000,MAIN,Open,Open,8-12 hours,NaN,NaN,REPAIR COMPLETED,...,7.0,1.0,24,N,N,7.85,N,N,cf0ea71d-871c-4700-9abd-6f66782a38df,29.997047
162,8032,1835,1363824000000,MAIN,Open,Open,8-12 hours,NaN,NaN,REPAIR COMPLETED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5484,9392,400,1044144000000,MAIN,Open,Open,8-12 hours,NaN,NaN,REPAIR COMPLETED,...,5.0,4.0,9,N,N,6.15,N,N,8891cd2f-e90c-4ecb-aa48-c4dd7b9822aa,116.810379
5266,9343,720,1052352000000,MAIN,Open,Open,8-12 hours,NaN,NaN,REPAIR COMPLETED,...,7.0,6.0,0,N,N,9.35,N,Y,05d872e6-9648-4290-ac2d-6a5e4342ea6e,15.738052
2518,8646,2128,1429747200000,MAIN,Open,Open,8-12 hours,NaN,NaN,REPAIR COMPLETED,...,7.0,5.0,17,N,N,8.50,N,N,1c7879a2-5e0b-4de6-9d08-a257e5d25767,144.349237
3135,8794,542,1008028800000,MAIN,Open,Open,8-12 hours,NaN,NaN,REPAIR COMPLETED,...,6.0,5.0,8,N,N,7.75,N,N,52061d52-c2d1-47e1-80d2-25d3e6d69787,7.619966

In [86]:
break_data.shape

(10721, 80)

In [99]:
break_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10721 entries, 0 to 10720
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   OBJECTID                     10721 non-null  int64
 1   INCIDENT_DATE                10721 non-null  int64
 2   BREAK_TYPE                   10721 non-null  object
 3   HOUR_IMPACTED                10721 non-null  object
 4   STATUS                       10721 non-null  object
 5   BREAK_NATURE                 10214 non-null  object
 6   BREAK_APPARENT_CAUSE         10030 non-null  object
 7   POSITIVE_PRESSURE_MAINTANED  10721 non-null  object
 8   AIR_GAP_MAINTANED            10721 non-null  object
 9   DISINFECTED                  10721 non-null  object
 10  MECHANICAL_REMOVAL           10721 non-null  object
 11  FLUSHING_EXCAVATION          10721 non-null  object
 12  HIGHER_VELOCITY_FLUSHING     10721 non-null  object
 13  ANODE_INSTALLED              10721 non-null  object
 14  BREAK_CATEGORIZATION         10179 non-null  object
 15  ROADSEGMENTID                10721 non-null  int64
 16  CIVIC_NUMBER                 10196 non-null  object
 17  STREET                       10701 non-null  object
 18  ASSETID                      10721 non-null  int64
 19  ASSET_SIZE                   10001 non-null  float64
 20  ASSET_YEAR_INSTALLED         9982 non-null   float64
 21  ASSET_MATERIAL               10001 non-null  object
 22  ASSET_EXISTS                 10721 non-null  object
 23  GLOBALID                     10721 non-null  object
 24  longitude                    10721 non-null  float64
 25  latitude                     10721 non-null  float64
 26  PRESSURE_ZONE                10645 non-null  object
 27  MAP_LABEL                    10645 non-null  object
 28  CATEGORY                     10645 non-null  object
 29  PIPE_SIZE                    10645 non-null  float64
 30  MATERIAL                     10645 non-null  object
 31  LINED                        10645 non-null  object
 32  LINED_MATERIAL               10645 non-null  object
 33  INSTALLATION_DATE            10644 non-null  float64
 34  BRIDGE_MAIN                  10645 non-null  object
 35  CRITICALITY                  10645 non-null  float64
 36  UNDERSIZED                   10645 non-null  object
 37  SHALLOW_MAIN                 10645 non-null  object
 38  CONDITION_SCORE              10645 non-null  float64
 39  OVERSIZED                    10645 non-null  object
 40  CLEANED                      10645 non-null  object
 41  GlobalID                     10645 non-null  object
 42  Shape__Length                10645 non-null  float64
dtypes: float64(9), int64(4), object(30)
memory usage: 3.5+ MB

In [87]:
break_data.columns

Index(['OBJECTID', 'WATBREAKINCIDENTID', 'INCIDENT_DATE', 'BREAK_TYPE',
       'ROAD_CLOSED', 'SIDEWALK_CLOSED', 'HOUR_IMPACTED', 'UNITS_IMPACTED',
       'CW_SERVICE_REQUEST', 'STATUS', 'STATUS_DATE', 'WORKORDER',
       'RETURN_TO_NORMAL', 'BREAK_NATURE', 'BREAK_APPARENT_CAUSE',
       'REPAIR_TYPE', 'NEW_SECTION_LENGTH', 'MAINTENANCE_DESC',
       'VALVES_CLOSED', 'VALVES_OPENED', 'HYDRANTS_CALLED_OUT',
       'HYDRANTS_CALLED_BACK_IN', 'POSITIVE_PRESSURE_MAINTANED',
       'AIR_GAP_MAINTANED', 'DISINFECTED', 'MECHANICAL_REMOVAL',
       'FLUSHING_EXCAVATION', 'HIGHER_VELOCITY_FLUSHING', 'ANODE_INSTALLED',
       'BREAK_CATEGORIZATION', 'BACTERIA_TESTING_DATE',
       'HEALTH_DEPT_NOTIFICATION', 'MOECC_SAC_NOTIFICATION',
       'SAC_REFERENCE_NO', 'LOCAL_MOE_OFFICE', 'BWA_DWA', 'BWA_DWA_DECLARED',
       'PROCEEDURES_FOLLOWED', 'RECORD_CHANGE_REQD', 'ROADSEGMENTID',
       'CIVIC_NUMBER', 'STREET', 'ASSETID', 'ASSET_DEPTH', 'FROST_DEPTH',
       'ASSET_SIZE', 'ASSET_YEAR_INSTALLED', 'ASSET_MATERIAL', 'ASSET_EXISTS',
       'GLOBALID', 'longitude', 'latitude', 'OBJECTID.1', 'WATMAINID',
       'STATUS.1', 'PRESSURE_ZONE', 'ROADSEGMENTID.1', 'MAP_LABEL', 'CATEGORY',
       'PIPE_SIZE', 'MATERIAL', 'LINED', 'LINED_DATE', 'LINED_MATERIAL',
       'INSTALLATION_DATE', 'ACQUISITION', 'CONSULTANT', 'OWNERSHIP',
       'BRIDGE_MAIN', 'BRIDGE_DETAILS', 'CRITICALITY', 'REL_CLEANING_AREA',
       'REL_CLEANING_SUBAREA', 'UNDERSIZED', 'SHALLOW_MAIN', 'CONDITION_SCORE',
       'OVERSIZED', 'CLEANED', 'GlobalID', 'Shape__Length'],
      dtype='object')

In [88]:
break_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10721 entries, 0 to 10720
Data columns (total 80 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   OBJECTID                     10721 non-null  int64
 1   WATBREAKINCIDENTID           10721 non-null  int64
 2   INCIDENT_DATE                10721 non-null  int64
 3   BREAK_TYPE                   10721 non-null  object
 4   ROAD_CLOSED                  10721 non-null  object
 5   SIDEWALK_CLOSED              10721 non-null  object
 6   HOUR_IMPACTED                10721 non-null  object
 7   UNITS_IMPACTED               1126 non-null   object
 8   CW_SERVICE_REQUEST           75 non-null     float64
 9   STATUS                       10721 non-null  object
 10  STATUS_DATE                  10097 non-null  float64
 11  WORKORDER                    6092 non-null   float64
 12  RETURN_TO_NORMAL             382 non-null    float64
 13  BREAK_NATURE                 10214 non-null  object
 14  BREAK_APPARENT_CAUSE         10030 non-null  object
 15  REPAIR_TYPE                  583 non-null    object
 16  NEW_SECTION_LENGTH           82 non-null     float64
 17  MAINTENANCE_DESC             0 non-null      float64
 18  VALVES_CLOSED                4 non-null      object
 19  VALVES_OPENED                0 non-null      float64
 20  HYDRANTS_CALLED_OUT          26 non-null     object
 21  HYDRANTS_CALLED_BACK_IN      22 non-null     object
 22  POSITIVE_PRESSURE_MAINTANED  10721 non-null  object
 23  AIR_GAP_MAINTANED            10721 non-null  object
 24  DISINFECTED                  10721 non-null  object
 25  MECHANICAL_REMOVAL           10721 non-null  object
 26  FLUSHING_EXCAVATION          10721 non-null  object
 27  HIGHER_VELOCITY_FLUSHING     10721 non-null  object
 28  ANODE_INSTALLED              10721 non-null  object
 29  BREAK_CATEGORIZATION         10179 non-null  object
 30  BACTERIA_TESTING_DATE        37 non-null     float64
 31  HEALTH_DEPT_NOTIFICATION     0 non-null      float64
 32  MOECC_SAC_NOTIFICATION       9 non-null      float64
 33  SAC_REFERENCE_NO             0 non-null      float64
 34  LOCAL_MOE_OFFICE             9 non-null      float64
 35  BWA_DWA                      10721 non-null  object
 36  BWA_DWA_DECLARED             8 non-null      float64
 37  PROCEEDURES_FOLLOWED         10721 non-null  object
 38  RECORD_CHANGE_REQD           10721 non-null  object
 39  ROADSEGMENTID                10721 non-null  int64
 40  CIVIC_NUMBER                 10196 non-null  object
 41  STREET                       10701 non-null  object
 42  ASSETID                      10721 non-null  int64
 43  ASSET_DEPTH                  56 non-null     float64
 44  FROST_DEPTH                  281 non-null    float64
 45  ASSET_SIZE                   10001 non-null  float64
 46  ASSET_YEAR_INSTALLED         9982 non-null   float64
 47  ASSET_MATERIAL               10001 non-null  object
 48  ASSET_EXISTS                 10721 non-null  object
 49  GLOBALID                     10721 non-null  object
 50  longitude                    10721 non-null  float64
 51  latitude                     10721 non-null  float64
 52  OBJECTID.1                   10645 non-null  float64
 53  WATMAINID                    10645 non-null  float64
 54  STATUS.1                     10645 non-null  object
 55  PRESSURE_ZONE                10645 non-null  object
 56  ROADSEGMENTID.1              10645 non-null  float64
 57  MAP_LABEL                    10645 non-null  object
 58  CATEGORY                     10645 non-null  object
 59  PIPE_SIZE                    10645 non-null  float64
 60  MATERIAL                     10645 non-null  object
 61  LINED                        10645 non-null  object
 62  LINED_DATE                   135 non-null    float64
 63  LINED_MATERIAL               10645 non-null  object
 64  INSTALLATION_DATE            10644 non-null  float64
 65  ACQUISITION                  10645 non-null  object
 66  CONSULTANT                   3164 non-null   object
 67  OWNERSHIP                    10645 non-null  object
 68  BRIDGE_MAIN                  10645 non-null  object
 69  BRIDGE_DETAILS               4 non-null      object
 70  CRITICALITY                  10645 non-null  float64
 71  REL_CLEANING_AREA            10645 non-null  float64
 72  REL_CLEANING_SUBAREA         10645 non-null  object
 73  UNDERSIZED                   10645 non-null  object
 74  SHALLOW_MAIN                 10645 non-null  object
 75  CONDITION_SCORE              10645 non-null  float64
 76  OVERSIZED                    10645 non-null  object
 77  CLEANED                      10645 non-null  object
 78  GlobalID                     10645 non-null  object
 79  Shape__Length                10645 non-null  float64
dtypes: float64(29), int64(5), object(46)
memory usage: 6.5+ MB

In [89]:
def print_null_values(df, column=None):
    if column is None:
        # print null values for all columns
        for col in df.columns:
            null_values = df[col].isnull().sum()
            print(f"{col} - ", null_values)
    else:
        # print null values for a single column
        null_values = df[column].isnull().sum()
        print(f"{col} - ", null_values)

In [90]:
# break_data.isna().sum()
print_null_values(break_data)

OBJECTID -  0
WATBREAKINCIDENTID -  0
INCIDENT_DATE -  0
BREAK_TYPE -  0
ROAD_CLOSED -  0
SIDEWALK_CLOSED -  0
HOUR_IMPACTED -  0
UNITS_IMPACTED -  9595
CW_SERVICE_REQUEST -  10646
STATUS -  0
STATUS_DATE -  624
WORKORDER -  4629
RETURN_TO_NORMAL -  10339
BREAK_NATURE -  507
BREAK_APPARENT_CAUSE -  691
REPAIR_TYPE -  10138
NEW_SECTION_LENGTH -  10639
MAINTENANCE_DESC -  10721
VALVES_CLOSED -  10717
VALVES_OPENED -  10721
HYDRANTS_CALLED_OUT -  10695
HYDRANTS_CALLED_BACK_IN -  10699
POSITIVE_PRESSURE_MAINTANED -  0
AIR_GAP_MAINTANED -  0
DISINFECTED -  0
MECHANICAL_REMOVAL -  0
FLUSHING_EXCAVATION -  0
HIGHER_VELOCITY_FLUSHING -  0
ANODE_INSTALLED -  0
BREAK_CATEGORIZATION -  542
BACTERIA_TESTING_DATE -  10684
HEALTH_DEPT_NOTIFICATION -  10721
MOECC_SAC_NOTIFICATION -  10712
SAC_REFERENCE_NO -  10721
LOCAL_MOE_OFFICE -  10712
BWA_DWA -  0
BWA_DWA_DECLARED -  10713
PROCEEDURES_FOLLOWED -  0
RECORD_CHANGE_REQD -  0
ROADSEGMENTID -  0
CIVIC_NUMBER -  525
STREET -  20
ASSETID -  0
ASSET_DEPTH -  10665
FROST_DEPTH -  10440
ASSET_SIZE -  720
ASSET_YEAR_INSTALLED -  739
ASSET_MATERIAL -  720
ASSET_EXISTS -  0
GLOBALID -  0
longitude -  0
latitude -  0
OBJECTID.1 -  76
WATMAINID -  76
STATUS.1 -  76
PRESSURE_ZONE -  76
ROADSEGMENTID.1 -  76
MAP_LABEL -  76
CATEGORY -  76
PIPE_SIZE -  76
MATERIAL -  76
LINED -  76
LINED_DATE -  10586
LINED_MATERIAL -  76
INSTALLATION_DATE -  77
ACQUISITION -  76
CONSULTANT -  7557
OWNERSHIP -  76
BRIDGE_MAIN -  76
BRIDGE_DETAILS -  10717
CRITICALITY -  76
REL_CLEANING_AREA -  76
REL_CLEANING_SUBAREA -  76
UNDERSIZED -  76
SHALLOW_MAIN -  76
CONDITION_SCORE -  76
OVERSIZED -  76
CLEANED -  76
GlobalID -  76
Shape__Length -  76

In [91]:
# print the null values that have greater than 80 percent null values
def print_null_thresh_values(df, column=None, threshold=0.7):
    if column is None:
        # print null values for all columns
        for col in df.columns:
            null_values = df[col].isnull().sum()
            if null_values > threshold * len(df):
                print(f"{col} - ", null_values)
    else:
        # print null values for a single column
        null_values = df[column].isnull().sum()
        print(f"{column} - ", null_values)

print_null_thresh_values(break_data)

UNITS_IMPACTED -  9595
CW_SERVICE_REQUEST -  10646
RETURN_TO_NORMAL -  10339
REPAIR_TYPE -  10138
NEW_SECTION_LENGTH -  10639
MAINTENANCE_DESC -  10721
VALVES_CLOSED -  10717
VALVES_OPENED -  10721
HYDRANTS_CALLED_OUT -  10695
HYDRANTS_CALLED_BACK_IN -  10699
BACTERIA_TESTING_DATE -  10684
HEALTH_DEPT_NOTIFICATION -  10721
MOECC_SAC_NOTIFICATION -  10712
SAC_REFERENCE_NO -  10721
LOCAL_MOE_OFFICE -  10712
BWA_DWA_DECLARED -  10713
ASSET_DEPTH -  10665
FROST_DEPTH -  10440
LINED_DATE -  10586
CONSULTANT -  7557
BRIDGE_DETAILS -  10717

In [92]:
def drop_null_columns(df, threshold=0.7):
    for col in df.columns:
        null_values = df[col].isnull().sum()
        if null_values > threshold * len(df):
            df.drop(col, axis=1, inplace=True)

drop_null_columns(break_data)

In [93]:
break_data.columns

Index(['OBJECTID', 'WATBREAKINCIDENTID', 'INCIDENT_DATE', 'BREAK_TYPE',
       'ROAD_CLOSED', 'SIDEWALK_CLOSED', 'HOUR_IMPACTED', 'STATUS',
       'STATUS_DATE', 'WORKORDER', 'BREAK_NATURE', 'BREAK_APPARENT_CAUSE',
       'POSITIVE_PRESSURE_MAINTANED', 'AIR_GAP_MAINTANED', 'DISINFECTED',
       'MECHANICAL_REMOVAL', 'FLUSHING_EXCAVATION', 'HIGHER_VELOCITY_FLUSHING',
       'ANODE_INSTALLED', 'BREAK_CATEGORIZATION', 'BWA_DWA',
       'PROCEEDURES_FOLLOWED', 'RECORD_CHANGE_REQD', 'ROADSEGMENTID',
       'CIVIC_NUMBER', 'STREET', 'ASSETID', 'ASSET_SIZE',
       'ASSET_YEAR_INSTALLED', 'ASSET_MATERIAL', 'ASSET_EXISTS', 'GLOBALID',
       'longitude', 'latitude', 'OBJECTID.1', 'WATMAINID', 'STATUS.1',
       'PRESSURE_ZONE', 'ROADSEGMENTID.1', 'MAP_LABEL', 'CATEGORY',
       'PIPE_SIZE', 'MATERIAL', 'LINED', 'LINED_MATERIAL', 'INSTALLATION_DATE',
       'ACQUISITION', 'OWNERSHIP', 'BRIDGE_MAIN', 'CRITICALITY',
       'REL_CLEANING_AREA', 'REL_CLEANING_SUBAREA', 'UNDERSIZED',
       'SHALLOW_MAIN', 'CONDITION_SCORE', 'OVERSIZED', 'CLEANED', 'GlobalID',
       'Shape__Length'],
      dtype='object')

In [94]:
break_data.drop(['WATBREAKINCIDENTID', 'ROAD_CLOSED', 'SIDEWALK_CLOSED', 'STATUS_DATE', 'WORKORDER',
                 'BWA_DWA', 'PROCEEDURES_FOLLOWED', 'RECORD_CHANGE_REQD', 'OBJECTID.1', 'WATMAINID', 'STATUS.1',
                 'ROADSEGMENTID.1', 'ACQUISITION', 'OWNERSHIP', 'REL_CLEANING_AREA', 'REL_CLEANING_SUBAREA',], axis=1, inplace=True)

In [95]:
break_data.shape

(10721, 43)

In [96]:
# mains_data = pd.read_csv("../data/raw/Water_Mains.csv")
# breaks_data = pd.read_csv("../data/raw/Water_Main_Breaks.csv")

In [97]:
# take the INSTALLATION_DATE from Water_Mains.csv and the INCIDENT_DATE from Water_Main_Breaks.csv and add them into this dataframe to replace the same columns that are there now
# they should match up with the ROADSEGMENTID

In [98]:
break_data['INCIDENT_DATE'] = pd.to_datetime(break_data['INCIDENT_DATE'], unit='s')
break_data['INSTALLATION_DATE'] = pd.to_datetime(break_data['INSTALLATION_DATE'], unit='s')

OutOfBoundsDatetime: cannot convert input with unit 's'

In [29]:
break_data.head()

,OBJECTID,INCIDENT_DATE,BREAK_TYPE,HOUR_IMPACTED,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,DISINFECTED,...,INSTALLATION_DATE,BRIDGE_MAIN,CRITICALITY,UNDERSIZED,SHALLOW_MAIN,CONDITION_SCORE,OVERSIZED,CLEANED,GlobalID,Shape__Length
0,1,1970-01-01 00:25:12.141300,MAIN,12-16 hours,REPAIR COMPLETED,CORROSION AND FITTING/JOINT,AGE,N,N,Y,...,1969-12-31 23:35:16.771200,N,6.0,N,N,3.85,N,N,7032c165-215f-4cf6-ae35-65c9320aab4e,138.194599
1,1,1970-01-01 00:25:12.141300,MAIN,12-16 hours,REPAIR COMPLETED,CORROSION AND FITTING/JOINT,AGE,N,N,Y,...,1970-01-01 00:24:44.092800,N,-1.0,N,N,9.85,N,N,791c47f5-9a9a-48b1-94bb-cad82bec682c,4.721263
2,1,1970-01-01 00:25:12.141300,MAIN,12-16 hours,REPAIR COMPLETED,CORROSION AND FITTING/JOINT,AGE,N,N,Y,...,1970-01-01 00:24:44.092800,N,-1.0,N,N,9.85,N,N,fbc17d4d-3636-4b58-823b-54b3cbc77470,1.399993
3,1,1970-01-01 00:25:12.141300,MAIN,12-16 hours,REPAIR COMPLETED,CORROSION AND FITTING/JOINT,AGE,N,N,Y,...,1970-01-01 00:24:44.092800,N,-1.0,N,N,5.93,N,N,e67cbabe-4883-4c85-854b-f0367fff4f1a,1.579268
4,7874,1970-01-01 00:16:25.564800,SERVICE,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1969-12-31 23:57:22.233600,N,5.0,N,N,7.85,N,Y,c99abdb4-c3cc-409d-be83-5b42e4029bc9,12.798598

In [32]:
print_null_values(break_data)

OBJECTID -  0
INCIDENT_DATE -  0
BREAK_TYPE -  0
HOUR_IMPACTED -  0
STATUS -  0
BREAK_NATURE -  507
BREAK_APPARENT_CAUSE -  691
POSITIVE_PRESSURE_MAINTANED -  0
AIR_GAP_MAINTANED -  0
DISINFECTED -  0
MECHANICAL_REMOVAL -  0
FLUSHING_EXCAVATION -  0
HIGHER_VELOCITY_FLUSHING -  0
ANODE_INSTALLED -  0
BREAK_CATEGORIZATION -  542
ROADSEGMENTID -  0
CIVIC_NUMBER -  525
STREET -  20
ASSETID -  0
ASSET_SIZE -  720
ASSET_YEAR_INSTALLED -  739
ASSET_MATERIAL -  720
ASSET_EXISTS -  0
GLOBALID -  0
longitude -  0
latitude -  0
PRESSURE_ZONE -  76
MAP_LABEL -  76
CATEGORY -  76
PIPE_SIZE -  76
MATERIAL -  76
LINED -  76
LINED_MATERIAL -  76
INSTALLATION_DATE -  77
BRIDGE_MAIN -  76
CRITICALITY -  76
UNDERSIZED -  76
SHALLOW_MAIN -  76
CONDITION_SCORE -  76
OVERSIZED -  76
CLEANED -  76
GlobalID -  76
Shape__Length -  76

Let's investigate the types of values there are in the `BREAK_APPARENT_CAUSE` variable and `BREAK_NATURE` variable. There aren't a lot of missing values so I might be able to easily impute them.

In [33]:
break_data.BREAK_APPARENT_CAUSE.unique()

array(['AGE', 'OTHER', 'COMBINATION', 'CORROSION', 'SOILS', 'UNKNOWN',
       'PRESSURE', 'FAULTY INSTALL', nan], dtype=object)

In [34]:
break_data.BREAK_APPARENT_CAUSE.value_counts()

OTHER             7962
AGE                825
COMBINATION        503
CORROSION          405
UNKNOWN            132
PRESSURE            92
SOILS               72
FAULTY INSTALL      39
Name: BREAK_APPARENT_CAUSE, dtype: int64

I'll fill the nan values with 'UNKNOWN'

In [35]:
break_data.BREAK_APPARENT_CAUSE.fillna('UNKNOWN', inplace=True)

In [36]:
break_data.BREAK_APPARENT_CAUSE.value_counts()

OTHER             7962
AGE                825
UNKNOWN            823
COMBINATION        503
CORROSION          405
PRESSURE            92
SOILS               72
FAULTY INSTALL      39
Name: BREAK_APPARENT_CAUSE, dtype: int64

In [37]:
break_data.BREAK_NATURE.value_counts()

UNKNOWN                                      7936
CIRCUMFERENTIAL                              1295
CORROSION                                     357
FITTING/JOINT                                 185
LONGITUDINAL                                  102
CIRCUMFERENTIAL AND FITTING/JOINT              89
CORROSION AND CIRCUMFERENTIAL                  82
OTHER                                          46
CORROSION AND FITTING/JOINT                    43
OTHER: WATER SERVICE                           36
CORROSION AND LONGITUDINAL                     32
FITTING/JOINT AND LONGITUDINAL                  9
CORROSION - ROBAR SADDLE CORRODED AT SEAM       2
Name: BREAK_NATURE, dtype: int64

In [38]:
break_data['BREAK_NATURE'] = break_data['BREAK_NATURE'].replace({'OTHER: WATER SERVICE': 'WATER SERVICE'})

In [39]:
break_data.BREAK_NATURE.value_counts()

UNKNOWN                                      7936
CIRCUMFERENTIAL                              1295
CORROSION                                     357
FITTING/JOINT                                 185
LONGITUDINAL                                  102
CIRCUMFERENTIAL AND FITTING/JOINT              89
CORROSION AND CIRCUMFERENTIAL                  82
OTHER                                          46
CORROSION AND FITTING/JOINT                    43
WATER SERVICE                                  36
CORROSION AND LONGITUDINAL                     32
FITTING/JOINT AND LONGITUDINAL                  9
CORROSION - ROBAR SADDLE CORRODED AT SEAM       2
Name: BREAK_NATURE, dtype: int64

In [40]:
break_data.BREAK_NATURE.unique()

array(['CORROSION AND FITTING/JOINT', 'UNKNOWN', 'CORROSION',
       'CIRCUMFERENTIAL', 'CORROSION AND CIRCUMFERENTIAL',
       'FITTING/JOINT', 'CIRCUMFERENTIAL AND FITTING/JOINT',
       'LONGITUDINAL', 'WATER SERVICE', 'CORROSION AND LONGITUDINAL',
       'FITTING/JOINT AND LONGITUDINAL', 'OTHER', nan,
       'CORROSION - ROBAR SADDLE CORRODED AT SEAM'], dtype=object)

In [41]:
break_data.BREAK_NATURE.fillna('UNKNOWN', inplace=True)

In [42]:
break_data.BREAK_NATURE.value_counts()

UNKNOWN                                      8443
CIRCUMFERENTIAL                              1295
CORROSION                                     357
FITTING/JOINT                                 185
LONGITUDINAL                                  102
CIRCUMFERENTIAL AND FITTING/JOINT              89
CORROSION AND CIRCUMFERENTIAL                  82
OTHER                                          46
CORROSION AND FITTING/JOINT                    43
WATER SERVICE                                  36
CORROSION AND LONGITUDINAL                     32
FITTING/JOINT AND LONGITUDINAL                  9
CORROSION - ROBAR SADDLE CORRODED AT SEAM       2
Name: BREAK_NATURE, dtype: int64

In [43]:
break_data.BREAK_NATURE.unique()

array(['CORROSION AND FITTING/JOINT', 'UNKNOWN', 'CORROSION',
       'CIRCUMFERENTIAL', 'CORROSION AND CIRCUMFERENTIAL',
       'FITTING/JOINT', 'CIRCUMFERENTIAL AND FITTING/JOINT',
       'LONGITUDINAL', 'WATER SERVICE', 'CORROSION AND LONGITUDINAL',
       'FITTING/JOINT AND LONGITUDINAL', 'OTHER',
       'CORROSION - ROBAR SADDLE CORRODED AT SEAM'], dtype=object)

In [44]:
print_null_values(break_data)

OBJECTID -  0
INCIDENT_DATE -  0
BREAK_TYPE -  0
HOUR_IMPACTED -  0
STATUS -  0
BREAK_NATURE -  0
BREAK_APPARENT_CAUSE -  0
POSITIVE_PRESSURE_MAINTANED -  0
AIR_GAP_MAINTANED -  0
DISINFECTED -  0
MECHANICAL_REMOVAL -  0
FLUSHING_EXCAVATION -  0
HIGHER_VELOCITY_FLUSHING -  0
ANODE_INSTALLED -  0
BREAK_CATEGORIZATION -  542
ROADSEGMENTID -  0
CIVIC_NUMBER -  525
STREET -  20
ASSETID -  0
ASSET_SIZE -  720
ASSET_YEAR_INSTALLED -  739
ASSET_MATERIAL -  720
ASSET_EXISTS -  0
GLOBALID -  0
longitude -  0
latitude -  0
PRESSURE_ZONE -  76
MAP_LABEL -  76
CATEGORY -  76
PIPE_SIZE -  76
MATERIAL -  76
LINED -  76
LINED_MATERIAL -  76
INSTALLATION_DATE -  77
BRIDGE_MAIN -  76
CRITICALITY -  76
UNDERSIZED -  76
SHALLOW_MAIN -  76
CONDITION_SCORE -  76
OVERSIZED -  76
CLEANED -  76
GlobalID -  76
Shape__Length -  76

In [45]:
break_data.BREAK_CATEGORIZATION.value_counts()

CATEGORY 1    10114
CATEGORY 2       65
Name: BREAK_CATEGORIZATION, dtype: int64

In [46]:
break_data.BREAK_CATEGORIZATION.unique()

array(['CATEGORY 2', 'CATEGORY 1', nan], dtype=object)

In [47]:
def fill_null_values(df, column, value):
    # fill null values in the specified column with the specified value
    df[column].fillna(value, inplace=True)

In [48]:
# break_data.BREAK_CATEGORIZATION.fillna('UNKNOWN', inplace=True)
fill_null_values(break_data, 'BREAK_CATEGORIZATION', 'UNKNOWN')

In [49]:
break_data.BREAK_CATEGORIZATION.value_counts()

CATEGORY 1    10114
UNKNOWN         542
CATEGORY 2       65
Name: BREAK_CATEGORIZATION, dtype: int64

In [50]:
break_data['BREAK_NATURE'] = break_data['BREAK_NATURE'].replace({'OTHER': 'UNKNOWN'})

In [51]:
break_data.BREAK_NATURE.unique()

array(['CORROSION AND FITTING/JOINT', 'UNKNOWN', 'CORROSION',
       'CIRCUMFERENTIAL', 'CORROSION AND CIRCUMFERENTIAL',
       'FITTING/JOINT', 'CIRCUMFERENTIAL AND FITTING/JOINT',
       'LONGITUDINAL', 'WATER SERVICE', 'CORROSION AND LONGITUDINAL',
       'FITTING/JOINT AND LONGITUDINAL',
       'CORROSION - ROBAR SADDLE CORRODED AT SEAM'], dtype=object)

In [52]:
break_data.BREAK_NATURE.value_counts()

UNKNOWN                                      8489
CIRCUMFERENTIAL                              1295
CORROSION                                     357
FITTING/JOINT                                 185
LONGITUDINAL                                  102
CIRCUMFERENTIAL AND FITTING/JOINT              89
CORROSION AND CIRCUMFERENTIAL                  82
CORROSION AND FITTING/JOINT                    43
WATER SERVICE                                  36
CORROSION AND LONGITUDINAL                     32
FITTING/JOINT AND LONGITUDINAL                  9
CORROSION - ROBAR SADDLE CORRODED AT SEAM       2
Name: BREAK_NATURE, dtype: int64

In [53]:
print_null_values(break_data)

OBJECTID -  0
INCIDENT_DATE -  0
BREAK_TYPE -  0
HOUR_IMPACTED -  0
STATUS -  0
BREAK_NATURE -  0
BREAK_APPARENT_CAUSE -  0
POSITIVE_PRESSURE_MAINTANED -  0
AIR_GAP_MAINTANED -  0
DISINFECTED -  0
MECHANICAL_REMOVAL -  0
FLUSHING_EXCAVATION -  0
HIGHER_VELOCITY_FLUSHING -  0
ANODE_INSTALLED -  0
BREAK_CATEGORIZATION -  0
ROADSEGMENTID -  0
CIVIC_NUMBER -  525
STREET -  20
ASSETID -  0
ASSET_SIZE -  720
ASSET_YEAR_INSTALLED -  739
ASSET_MATERIAL -  720
ASSET_EXISTS -  0
GLOBALID -  0
longitude -  0
latitude -  0
PRESSURE_ZONE -  76
MAP_LABEL -  76
CATEGORY -  76
PIPE_SIZE -  76
MATERIAL -  76
LINED -  76
LINED_MATERIAL -  76
INSTALLATION_DATE -  77
BRIDGE_MAIN -  76
CRITICALITY -  76
UNDERSIZED -  76
SHALLOW_MAIN -  76
CONDITION_SCORE -  76
OVERSIZED -  76
CLEANED -  76
GlobalID -  76
Shape__Length -  76

In [54]:
break_data['CIVIC_NUMBER'].sample(5)

6473       22
2447      167
8862    257.0
8112      150
8866     68.0
Name: CIVIC_NUMBER, dtype: object

In [55]:
break_data.drop(['CIVIC_NUMBER'], axis=1, inplace=True)

We can see there's some `STREET` names missing. It would be best to explore these missing attributes and see how we can possibly impute them. They still contain `LATITUDE` and `LONGITUDE` values so we can possibly identify them by those. Let's see what we can do...

In [56]:
no_street = break_data.loc[break_data.STREET.isna()]
no_street

,OBJECTID,INCIDENT_DATE,BREAK_TYPE,HOUR_IMPACTED,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,DISINFECTED,...,INSTALLATION_DATE,BRIDGE_MAIN,CRITICALITY,UNDERSIZED,SHALLOW_MAIN,CONDITION_SCORE,OVERSIZED,CLEANED,GlobalID,Shape__Length
548,8140,1970-01-01 00:20:56.169600,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1066,8278,1970-01-01 00:16:24.528000,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1970-01-01 00:02:27.225600,N,6.0,N,N,4.9,N,N,f9f9bd80-ceff-4ce0-951c-03c02a4cc6e7,31.843715
1067,8278,1970-01-01 00:16:24.528000,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1970-01-01 00:02:27.225600,N,0.0,N,N,8.5,N,N,9e411899-71a2-441f-bd0d-ccec7a529549,1.633870
1068,8278,1970-01-01 00:16:24.528000,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1970-01-01 00:02:27.225600,N,6.0,N,N,8.5,N,N,0e30f363-a96b-49c5-a8a0-e6ac38693bc6,5.867424
1900,8478,1970-01-01 00:23:09.312000,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1970-01-01 00:04:07.190400,N,6.0,N,N,8.5,N,N,a8bc6f06-948d-49b9-9fa6-b3ff49af237f,6.594864
1901,8478,1970-01-01 00:23:09.312000,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1970-01-01 00:04:07.190400,N,7.0,N,N,6.9,N,N,ee2352cf-7fdf-4b1c-ab21-fcf4a3c636bf,117.352822
1902,8478,1970-01-01 00:23:09.312000,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1970-01-01 00:04:07.190400,N,7.0,N,N,8.5,N,N,e0706f51-cc0b-4d07-9535-93597255e037,7.917657
2660,8678,1970-01-01 00:22:03.963507,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5659,9428,1970-01-01 00:22:03.963508,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6294,9592,1970-01-01 00:22:03.963508,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6323,9601,1970-01-01 00:20:55.478400,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6864,9743,1970-01-01 00:20:31.545600,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7990,10024,1970-01-01 00:22:03.963507,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8024,10037,1970-01-01 00:22:03.963506,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,COMBINATION,Y,Y,Y,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8137,10071,1970-01-01 00:22:03.963507,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8202,10087,1970-01-01 00:22:03.963507,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8405,10137,1970-01-01 00:21:19.756800,MAIN,8-12 hours,REPAIR COMPLETED,CIRCUMFERENTIAL,PRESSURE,Y,Y,Y,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10031,36482,1970-01-01 00:26:53.555609,MAIN,20-24 hours,CANCELLED,UNKNOWN,UNKNOWN,Y,Y,Y,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10032,36483,1970-01-01 00:26:53.556235,MAIN,20-24 hours,CANCELLED,UNKNOWN,UNKNOWN,Y,Y,Y,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10033,36484,1970-01-01 00:26:53.563532,MAIN,20-24 hours,CANCELLED,UNKNOWN,UNKNOWN,Y,Y,Y,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Looking at the latitude and longitude of the missing street addresses, there are actually only 5 distinct missing addresses. We can plot them on a map and see where they are located.

In [57]:
import plotly
import plotly.express as px

In [59]:
from config import token
api_token = token
px.set_mapbox_access_token(token)
fig = px.scatter_mapbox(data_frame=no_street, lat='latitude', lon='longitude')
fig.update_layout(mapbox_style="carto-positron", mapbox_accesstoken=token)
fig.show();

In [60]:
# drop the rows with no street
break_data.dropna(subset=['STREET'], inplace=True)

In [61]:
print_null_values(break_data)

OBJECTID -  0
INCIDENT_DATE -  0
BREAK_TYPE -  0
HOUR_IMPACTED -  0
STATUS -  0
BREAK_NATURE -  0
BREAK_APPARENT_CAUSE -  0
POSITIVE_PRESSURE_MAINTANED -  0
AIR_GAP_MAINTANED -  0
DISINFECTED -  0
MECHANICAL_REMOVAL -  0
FLUSHING_EXCAVATION -  0
HIGHER_VELOCITY_FLUSHING -  0
ANODE_INSTALLED -  0
BREAK_CATEGORIZATION -  0
ROADSEGMENTID -  0
STREET -  0
ASSETID -  0
ASSET_SIZE -  707
ASSET_YEAR_INSTALLED -  726
ASSET_MATERIAL -  707
ASSET_EXISTS -  0
GLOBALID -  0
longitude -  0
latitude -  0
PRESSURE_ZONE -  62
MAP_LABEL -  62
CATEGORY -  62
PIPE_SIZE -  62
MATERIAL -  62
LINED -  62
LINED_MATERIAL -  62
INSTALLATION_DATE -  63
BRIDGE_MAIN -  62
CRITICALITY -  62
UNDERSIZED -  62
SHALLOW_MAIN -  62
CONDITION_SCORE -  62
OVERSIZED -  62
CLEANED -  62
GlobalID -  62
Shape__Length -  62

In [62]:
break_data.ASSET_SIZE.value_counts()

150.0     6429
300.0     1635
200.0     1059
450.0      292
100.0      265
600.0      102
250.0       76
25.0        41
750.0       26
0.0         20
13.0        18
50.0        17
1200.0      14
Name: ASSET_SIZE, dtype: int64

So there's 707 missing values for `ASSET_SIZE`. We could simply fill the null values with the mean value, the most frequent value, or just set them to 0. Another way that I feel might be the most appropriate approach is visualize on a map where these asset sizes occur, categorizing by street name, and then seeing if the null values occur on the same streets as some of those already known asset sizes, and then fill in the missing sizes with which neighbours their near.

In [63]:
# pd.set_option("display.max_rows", None)
break_data.loc[break_data.ASSET_SIZE.isna()]

,OBJECTID,INCIDENT_DATE,BREAK_TYPE,HOUR_IMPACTED,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,DISINFECTED,...,INSTALLATION_DATE,BRIDGE_MAIN,CRITICALITY,UNDERSIZED,SHALLOW_MAIN,CONDITION_SCORE,OVERSIZED,CLEANED,GlobalID,Shape__Length
29,7881,1970-01-01 00:23:46.118400,SERVICE,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1970-01-01 00:22:34.060800,N,-1.0,N,N,9.35,N,N,6610f5df-daf4-4740-a895-6998427c4db1,17.641098
30,7881,1970-01-01 00:23:46.118400,SERVICE,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1970-01-01 00:27:02.505600,N,-1.0,N,N,-1.00,N,N,067a573a-2de1-4b0c-a9dd-e1c47a4c215a,95.003715
31,7881,1970-01-01 00:23:46.118400,SERVICE,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1970-01-01 00:27:02.505600,N,-1.0,N,N,-1.00,N,N,91af793e-7013-4ec2-81cd-5124d597c909,89.270670
32,7881,1970-01-01 00:23:46.118400,SERVICE,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1970-01-01 00:27:02.505600,N,-1.0,N,N,-1.00,N,N,e7350b7b-8bb5-4abb-86ef-a07c09f6978e,84.284014
76,8007,1970-01-01 00:17:31.488000,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1970-01-01 00:27:02.505600,N,-1.0,N,N,-1.00,N,N,2edaca94-c56e-44ea-b779-47ba2a9c9d43,155.740656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9722,19841,1970-01-01 00:26:19.256677,SERVICE,20-24 hours,REPAIR COMPLETED,UNKNOWN,UNKNOWN,Y,Y,Y,...,1970-01-01 00:27:02.505600,N,-1.0,N,N,-1.00,N,N,067a573a-2de1-4b0c-a9dd-e1c47a4c215a,95.003715
9723,19841,1970-01-01 00:26:19.256677,SERVICE,20-24 hours,REPAIR COMPLETED,UNKNOWN,UNKNOWN,Y,Y,Y,...,1970-01-01 00:27:02.505600,N,-1.0,N,N,-1.00,N,N,91af793e-7013-4ec2-81cd-5124d597c909,89.270670
9724,19841,1970-01-01 00:26:19.256677,SERVICE,20-24 hours,REPAIR COMPLETED,UNKNOWN,UNKNOWN,Y,Y,Y,...,1970-01-01 00:27:02.505600,N,-1.0,N,N,-1.00,N,N,e7350b7b-8bb5-4abb-86ef-a07c09f6978e,84.284014
9969,33925,1970-01-01 00:26:50.785832,MAIN,4-8 hours,CANCELLED,UNKNOWN,UNKNOWN,Y,Y,Y,...,1970-01-01 00:27:02.505600,N,-1.0,N,N,-1.00,N,N,e55dd405-e462-4dd7-b2fb-b2a2e59ea19e,15.511798
9970,33926,1970-01-01 00:26:50.785863,MAIN,4-8 hours,REPAIR COMPLETED,UNKNOWN,UNKNOWN,Y,Y,Y,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

What I will try to do next is look at a sort of breakdown of the asset sizes, listed with their asset ID's and corresponding street names, and see if we can match up any non-null asset sizes from the same street as asset sizes with null values. There's a possibility of imputing the average asset size value from the same street for the null values. For now I am jusy hypothesizing this, I'm not entirely sure if it'll work but why not try right?

In [64]:
asset_size = break_data[['STREET', 'ASSETID', 'ASSET_SIZE']]
# cherry picking null asset sizes to see which streets we could look at
asset_size.loc[asset_size.ASSET_SIZE.isna()].sample(10)

              STREET  ASSETID  ASSET_SIZE
5180         MILL ST    26700         NaN
8864         MILL ST    64030         NaN
3230         MILL ST    26750         NaN
5272     OTTAWA ST S    64330         NaN
7164      FERGUS AVE    88992         NaN
3571      WEBER ST E    40980         NaN
3229         MILL ST    26750         NaN
5324  STIRLING AVE S    36250         NaN
5693    FLORENCE AVE    14690         NaN
6992       WALKER ST    40340         NaN

Next I'll see if there are any matching asset ID's for null and non-null asset sizes. If there are any matches, then it could be safe to say that I could impute the null values with the ID's matching asset size. If this doesn't prove to be true then I'll have to explore more options.

In [65]:
asset_size[asset_size['STREET'] == 'FLORENCE AVE']

            STREET  ASSETID  ASSET_SIZE
97    FLORENCE AVE    14690         NaN
98    FLORENCE AVE    14690         NaN
99    FLORENCE AVE    14690         NaN
100   FLORENCE AVE    14690         NaN
101   FLORENCE AVE    14690         NaN
...            ...      ...         ...
9648  FLORENCE AVE    14700         NaN
9649  FLORENCE AVE    14700         NaN
9650  FLORENCE AVE    14700         NaN
9651  FLORENCE AVE    14700         NaN
9652  FLORENCE AVE    14700         NaN

[88 rows x 3 columns]

Unfortunately there are no matching ID's for this street. Let's check a few more streets to be sure that this trend might not hold...

In [66]:
asset_size[asset_size['STREET'] == 'OTTAWA ST S']

            STREET  ASSETID  ASSET_SIZE
149    OTTAWA ST S    95460         NaN
150    OTTAWA ST S    95460         NaN
151    OTTAWA ST S    95460         NaN
152    OTTAWA ST S    95460         NaN
153    OTTAWA ST S    95460         NaN
...            ...      ...         ...
10560  OTTAWA ST S    58380       450.0
10561  OTTAWA ST S    58380       450.0
10562  OTTAWA ST S    58380       450.0
10563  OTTAWA ST S    58380       450.0
10564  OTTAWA ST S    58380       450.0

[214 rows x 3 columns]

In [67]:
# display street names with no asset size
streets_with_na = asset_size.STREET[asset_size['ASSET_SIZE'].isna()].unique()
print(streets_with_na)

['MILL ST' 'FLORENCE AVE' 'OTTAWA ST S' 'WEBER ST E' 'OTTAWA ST N'
 'ST CLAIR AVE' 'BRIDGE ST E' 'FERGUS AVE' 'CORAL CRES' 'THALER AVE'
 'BOEHMER ST' 'MAUSSER AVE' 'VALEWOOD PL' 'WINDOM RD' 'REX DR'
 'NORFOLK CRES' 'KEHL ST' 'HEIMAN ST' 'HEBEL PL' 'GUERIN AVE' 'BECKER ST'
 'STIRLING AVE S' 'MAURICE ST' 'SOUTHILL DR' 'WALKER ST' 'EIGHTH AVE'
 'FAIRMOUNT RD' 'HUBER ST' 'GOLFVIEW PL' 'PATTANDON AVE' 'HOFFMAN ST'
 'SYDNEY ST S' 'ANN ST' 'EDWIN ST' 'SCHWEITZER ST']

In [68]:
asset_size[asset_size['STREET'] == 'WEBER ST E']

           STREET  ASSETID  ASSET_SIZE
107    WEBER ST E    41030       150.0
108    WEBER ST E    41030       150.0
347    WEBER ST E    79238         NaN
348    WEBER ST E    79238         NaN
349    WEBER ST E    79238         NaN
...           ...      ...         ...
9687   WEBER ST E    41030       150.0
10020  WEBER ST E    41030       150.0
10021  WEBER ST E    41030       150.0
10311  WEBER ST E    41030       150.0
10312  WEBER ST E    41030       150.0

[99 rows x 3 columns]

Well there we have it, each ID is unique to the asset size whether it's missing or not.

I will fill in the `NaN` values with the most frequent number (mode) for now.

In [69]:
asset_size.ASSET_SIZE.value_counts()

150.0     6429
300.0     1635
200.0     1059
450.0      292
100.0      265
600.0      102
250.0       76
25.0        41
750.0       26
0.0         20
13.0        18
50.0        17
1200.0      14
Name: ASSET_SIZE, dtype: int64

In [70]:
# fill asset size with the mode of the column
break_data['ASSET_SIZE'].fillna(break_data['ASSET_SIZE'].mode()[0], inplace=True)

In [71]:
break_data.ASSET_SIZE.value_counts()

150.0     7136
300.0     1635
200.0     1059
450.0      292
100.0      265
600.0      102
250.0       76
25.0        41
750.0       26
0.0         20
13.0        18
50.0        17
1200.0      14
Name: ASSET_SIZE, dtype: int64

In [72]:
print_null_values(break_data)

OBJECTID -  0
INCIDENT_DATE -  0
BREAK_TYPE -  0
HOUR_IMPACTED -  0
STATUS -  0
BREAK_NATURE -  0
BREAK_APPARENT_CAUSE -  0
POSITIVE_PRESSURE_MAINTANED -  0
AIR_GAP_MAINTANED -  0
DISINFECTED -  0
MECHANICAL_REMOVAL -  0
FLUSHING_EXCAVATION -  0
HIGHER_VELOCITY_FLUSHING -  0
ANODE_INSTALLED -  0
BREAK_CATEGORIZATION -  0
ROADSEGMENTID -  0
STREET -  0
ASSETID -  0
ASSET_SIZE -  0
ASSET_YEAR_INSTALLED -  726
ASSET_MATERIAL -  707
ASSET_EXISTS -  0
GLOBALID -  0
longitude -  0
latitude -  0
PRESSURE_ZONE -  62
MAP_LABEL -  62
CATEGORY -  62
PIPE_SIZE -  62
MATERIAL -  62
LINED -  62
LINED_MATERIAL -  62
INSTALLATION_DATE -  63
BRIDGE_MAIN -  62
CRITICALITY -  62
UNDERSIZED -  62
SHALLOW_MAIN -  62
CONDITION_SCORE -  62
OVERSIZED -  62
CLEANED -  62
GlobalID -  62
Shape__Length -  62

In [73]:
break_data.ASSET_YEAR_INSTALLED.value_counts()

1958.0    526
1967.0    476
1966.0    467
1953.0    413
1960.0    404
         ...
1990.0      2
1920.0      2
1945.0      1
1904.0      1
1997.0      1
Name: ASSET_YEAR_INSTALLED, Length: 94, dtype: int64

In [74]:
# compare the asset year installed with the installation date
break_data[['ASSET_YEAR_INSTALLED', 'INSTALLATION_DATE']].sample(10)

       ASSET_YEAR_INSTALLED          INSTALLATION_DATE
10208                1961.0 1970-01-01 00:15:59.817600
1044                 1960.0 1969-12-31 23:54:44.380800
4309                 1947.0 1970-01-01 00:26:37.104000
3508                 1968.0 1969-12-31 23:59:17.923200
10144                1953.0 1969-12-31 23:51:03.542400
6926                 1958.0 1969-12-31 23:53:41.308800
3957                 1971.0 1970-01-01 00:08:56.457600
5044                 1955.0 1970-01-01 00:07:21.763200
9358                 1973.0 1970-01-01 00:01:34.694400
2027                 1966.0 1969-12-31 23:57:53.769600

In [77]:
# show the missing asset year installed rows with their installation date
break_data[['ASSET_YEAR_INSTALLED', 'INSTALLATION_DATE']][break_data['ASSET_YEAR_INSTALLED'].isna()].sample(30)

      ASSET_YEAR_INSTALLED          INSTALLATION_DATE
9614                   NaN 1970-01-01 00:26:39.782400
6969                   NaN 1970-01-01 00:26:00.729600
9093                   NaN 1970-01-01 00:26:07.296000
6507                   NaN 1970-01-01 00:27:31.363200
3222                   NaN 1970-01-01 00:26:01.075200
7165                   NaN 1969-12-31 23:52:38.150400
9058                   NaN 1970-01-01 00:26:31.315200
1459                   NaN 1970-01-01 00:27:10.454400
9547                   NaN 1970-01-01 00:26:00.729600
1410                   NaN 1970-01-01 00:27:02.505600
3163                   NaN 1970-01-01 00:26:07.296000
9419                   NaN 1970-01-01 00:25:43.622400
5265                   NaN 1969-12-31 23:53:41.308800
8292                   NaN 1970-01-01 00:20:36.729600
1784                   NaN 1970-01-01 00:00:00.000000
4110                   NaN 1970-01-01 00:26:07.296000
6060                   NaN 1970-01-01 00:26:30.969600
30                     NaN 1970-01-01 00:27:02.505600
5256                   NaN 1970-01-01 00:20:36.729600
1462                   NaN 1970-01-01 00:27:10.454400
5497                   NaN 1970-01-01 00:26:39.782400
5492                   NaN 1970-01-01 00:26:32.352000
1381                   NaN 1970-01-01 00:22:34.060800
6767                   NaN 1970-01-01 00:26:32.784000
2895                   NaN 1970-01-01 00:26:07.296000
5260                   NaN 1969-12-31 23:50:31.920000
7238                   NaN 1970-01-01 00:25:03.878400
3819                   NaN 1970-01-01 00:26:42.633600
8144                   NaN 1970-01-01 00:19:09.120000
2105                   NaN 1970-01-01 00:21:49.392000

From reading different studies, it seems as though the year the pipe was installed or rather the age of the pipe is a critical factor in predicting breaks/time of failure. In this case, I believe I may have to drop the observations where no year is indicated.

In [78]:
break_data.dropna(axis=0, subset=['ASSET_YEAR_INSTALLED'], inplace=True)

In [79]:
print(break_data.shape)
print_null_values(break_data)

(9975, 42)
OBJECTID -  0
INCIDENT_DATE -  0
BREAK_TYPE -  0
HOUR_IMPACTED -  0
STATUS -  0
BREAK_NATURE -  0
BREAK_APPARENT_CAUSE -  0
POSITIVE_PRESSURE_MAINTANED -  0
AIR_GAP_MAINTANED -  0
DISINFECTED -  0
MECHANICAL_REMOVAL -  0
FLUSHING_EXCAVATION -  0
HIGHER_VELOCITY_FLUSHING -  0
ANODE_INSTALLED -  0
BREAK_CATEGORIZATION -  0
ROADSEGMENTID -  0
STREET -  0
ASSETID -  0
ASSET_SIZE -  0
ASSET_YEAR_INSTALLED -  0
ASSET_MATERIAL -  0
ASSET_EXISTS -  0
GLOBALID -  0
longitude -  0
latitude -  0
PRESSURE_ZONE -  58
MAP_LABEL -  58
CATEGORY -  58
PIPE_SIZE -  58
MATERIAL -  58
LINED -  58
LINED_MATERIAL -  58
INSTALLATION_DATE -  59
BRIDGE_MAIN -  58
CRITICALITY -  58
UNDERSIZED -  58
SHALLOW_MAIN -  58
CONDITION_SCORE -  58
OVERSIZED -  58
CLEANED -  58
GlobalID -  58
Shape__Length -  58

In [80]:
for col in break_data.columns:
    if break_data[col].isnull().sum() > 0:
        print(col, break_data[col].unique())

PRESSURE_ZONE ['KIT 4' 'KIT 5' 'KIT 2E' 'KIT 6' 'BRIDGEPORT' nan 'KIT 2W' 'RAW NO ZONE'
 'WAT 4' 'MANNHEIM']
MAP_LABEL ['138.2m 150mm  CI' '4.7m 25mm  PVC' '1.4m 25mm  PVC' ...
 '88.1m 150mm  DI' '9.3m 150mm  DI' '75.5m 150mm  DI']
CATEGORY ['TREATED' 'UNTREATED' nan]
PIPE_SIZE [ 150.   25.  450.  200.  300.  750.  250.   nan  600.  100.    0.  900.
   50.  400. 1200.   38.]
MATERIAL ['CI' 'PVC' 'DI' 'HDPE' 'CPP' 'PVCB' 'ST' 'PVCO' nan 'AC' 'PVCF' 'COP']
LINED ['NO' nan 'YES']
LINED_MATERIAL ['NONE' nan 'EPS' 'CEMENT']
INSTALLATION_DATE ['1969-12-31T23:35:16.771200000' '1970-01-01T00:24:44.092800000'
 '1969-12-31T23:57:22.233600000' '1969-12-31T23:57:53.769600000'
 '1970-01-01T00:21:16.473600000' '1969-12-31T23:54:12.844800000'
 '1970-01-01T00:26:37.622400000' '1970-01-01T00:26:39.004800000'
 '1970-01-01T00:01:34.694400000' '1970-01-01T00:02:37.766400000'
 '1970-01-01T00:00:41.904000000' '1970-01-01T00:15:59.817600000'
 '1970-01-01T00:08:56.457600000' '1970-01-01T00:20:34.310400000'
 '1969-12-31T23:55:47.539200000' '1969-12-31T23:55:16.003200000'
 '1970-01-01T00:24:58.867200000' '1969-12-31T23:50:13.430400000'
 '1969-12-31T23:52:06.614400000' '1970-01-01T00:10:12.576000000'
 '1970-01-01T00:12:00.576000000' '1970-01-01T00:08:06.432000000'
 '1970-01-01T00:02:24.547200000' '1970-01-01T00:02:11.328000000'
 '1970-01-01T00:09:41.126400000' '1970-01-01T00:20:49.084800000'
 '1970-01-01T00:25:43.622400000' '1969-12-31T23:40:00.768000000'
 '1969-12-31T23:44:13.228800000' '1970-01-01T00:26:01.075200000'
 '1970-01-01T00:20:59.280000000' '1969-12-31T23:54:44.380800000'
 '1970-01-01T00:01:03.072000000' '1970-01-01T00:04:59.635200000'
 '1970-01-01T00:24:24.134400000' '1969-12-31T23:58:56.841600000'
 '1970-01-01T00:25:46.214400000' '1969-12-31T23:50:31.920000000'
 '1970-01-01T00:25:03.878400000'                           'NaT'
 '1970-01-01T00:00:00.000000000' '1970-01-01T00:02:19.276800000'
 '1970-01-01T00:23:38.342400000' '1970-01-01T00:24:44.784000000'
 '1969-12-31T23:53:54.355200000' '1969-12-31T23:58:25.305600000'
 '1970-01-01T00:23:06.720000000' '1970-01-01T00:18:48.124800000'
 '1969-12-31T23:40:32.390400000' '1970-01-01T00:27:34.128000000'
 '1970-01-01T00:27:33.955200000' '1970-01-01T00:21:23.385600000'
 '1969-12-31T23:58:06.816000000' '1969-12-31T23:56:19.075200000'
 '1969-12-31T23:48:57.312000000' '1970-01-01T00:25:07.852800000'
 '1969-12-31T23:58:38.352000000' '1969-12-31T23:51:35.078400000'
 '1969-12-31T23:53:41.308800000' '1970-01-01T00:18:46.656000000'
 '1969-12-31T23:50:00.384000000' '1969-12-31T23:38:26.160000000'
 '1969-12-31T23:53:09.772800000' '1970-01-01T00:23:38.601600000'
 '1970-01-01T00:24:56.275200000' '1970-01-01T00:26:42.201600000'
 '1970-01-01T00:24:14.544000000' '1969-12-31T23:47:54.153600000'
 '1970-01-01T00:19:09.120000000' '1970-01-01T00:26:37.104000000'
 '1970-01-01T00:26:39.091200000' '1969-12-31T23:57:56.448000000'
 '1969-12-31T23:57:03.744000000' '1970-01-01T00:05:47.155200000'
 '1970-01-01T00:25:59.865600000' '1970-01-01T00:19:40.656000000'
 '1970-01-01T00:11:36.902400000' '1970-01-01T00:09:59.616000000'
 '1970-01-01T00:09:27.993600000' '1970-01-01T00:04:12.460800000'
 '1969-12-31T23:56:50.611200000' '1969-12-31T23:56:37.392000000'
 '1970-01-01T00:16:56.470800000' '1970-01-01T00:08:51.187200000'
 '1969-12-31T23:58:40.944000000' '1970-01-01T00:24:58.435200000'
 '1970-01-01T00:24:58.003200000' '1970-01-01T00:24:56.361600000'
 '1970-01-01T00:20:01.824000000' '1970-01-01T00:22:45.638400000'
 '1970-01-01T00:21:52.416000000' '1970-01-01T00:22:34.060800000'
 '1970-01-01T00:02:06.230400000' '1970-01-01T00:20:39.753600000'
 '1970-01-01T00:20:42.000000000' '1970-01-01T00:21:04.377600000'
 '1970-01-01T00:03:22.435200000' '1970-01-01T00:21:20.966400000'
 '1969-12-31T23:57:35.280000000' '1970-01-01T00:25:42.067200000'
 '1970-01-01T00:22:08.572800000' '1970-01-01T00:24:30.009600000'
 '1970-01-01T00:24:26.380800000' '1970-01-01T00:24:25.516800000'
 '1970-01-01T00:24:26.467200000' '1970-01-01T00:24:26.726400000'
 '1969-12-31T23:56:42.662400000' '1970-01-01T00:00:31.536000000'
 '1970-01-01T00:21:48.355200000' '1969-12-31T23:59:28.464000000'
 '1970-01-01T00:23:55.622400000' '1970-01-01T00:24:15.235200000'
 '1970-01-01T00:21:23.299200000' '1969-12-31T23:59:44.102400000'
 '1970-01-01T00:01:05.750400000' '1970-01-01T00:21:32.371200000'
 '1970-01-01T00:22:57.993600000' '1970-01-01T00:24:22.752000000'
 '1970-01-01T00:25:11.740800000' '1970-01-01T00:25:07.075200000'
 '1969-12-31T23:52:38.150400000' '1969-12-31T23:59:17.923200000'
 '1970-01-01T00:02:23.251200000' '1970-01-01T00:27:17.625600000'
 '1970-01-01T00:27:20.131200000' '1970-01-01T00:26:09.369600000'
 '1969-12-31T23:31:35.846400000' '1969-12-31T23:51:24.537600000'
 '1970-01-01T00:24:03.657600000' '1970-01-01T00:18:06.048000000'
 '1970-01-01T00:27:40.694400000' '1969-12-31T23:50:53.001600000'
 '1970-01-01T00:11:52.627200000' '1970-01-01T00:19:22.339200000'
 '1970-01-01T00:11:02.688000000' '1969-12-31T23:34:45.235200000'
 '1970-01-01T00:02:56.428800000' '1970-01-01T00:00:13.046400000'
 '1970-01-01T00:26:30.969600000' '1970-01-01T00:26:07.296000000'
 '1970-01-01T00:17:02.889600000' '1970-01-01T00:27:03.715200000'
 '1970-01-01T00:00:26.265600000' '1969-12-31T23:56:40.761600000'
 '1970-01-01T00:24:04.348800000' '1970-01-01T00:22:29.049600000'
 '1969-12-31T23:43:41.692800000' '1970-01-01T00:22:15.830400000'
 '1969-12-31T23:42:38.620800000' '1969-12-31T23:46:51.081600000'
 '1969-12-31T23:41:35.462400000' '1970-01-01T00:20:20.054400000'
 '1970-01-01T00:25:04.656000000' '1970-01-01T00:04:43.996800000'
 '1969-12-31T23:58:46.300800000' '1969-12-31T23:57:37.872000000'
 '1969-12-31T23:57:22.320000000' '1970-01-01T00:20:08.217600000'
 '1969-12-31T23:51:03.542400000' '1970-01-01T00:17:28.118400000'
 '1970-01-01T00:03:09.302400000' '1970-01-01T00:03:35.654400000'
 '1969-12-31T23:59:46.780800000' '1970-01-01T00:25:56.064000000'
 '1970-01-01T00:25:56.150400000' '1969-12-31T23:49:28.848000000'
 '1970-01-01T00:27:41.990400000' '1970-01-01T00:27:41.817600000'
 '1970-01-01T00:27:40.780800000' '1970-01-01T00:27:42.076800000'
 '1970-01-01T00:27:35.251200000' '1969-12-31T23:55:35.788800000'
 '1970-01-01T00:06:21.369600000' '1970-01-01T00:07:21.763200000'
 '1970-01-01T00:16:31.353600000' '1970-01-01T00:23:24.172800000'
 '1970-01-01T00:20:12.364800000' '1970-01-01T00:23:58.387200000'
 '1970-01-01T00:11:49.948800000' '1969-12-31T23:53:25.411200000'
 '1969-12-31T23:53:25.497600000' '1970-01-01T00:26:36.240000000'
 '1970-01-01T00:01:31.843200000' '1969-12-31T23:56:47.932800000'
 '1970-01-01T00:03:40.924800000' '1970-01-01T00:01:21.475200000'
 '1970-01-01T00:05:36.614400000' '1970-01-01T00:01:00.393600000'
 '1970-01-01T00:25:45.091200000' '1970-01-01T00:21:29.520000000'
 '1970-01-01T00:09:17.452800000' '1970-01-01T00:09:18.230400000'
 '1969-12-31T23:59:12.566400000' '1969-12-31T23:59:09.974400000'
 '1970-01-01T00:06:02.793600000' '1970-01-01T00:05:39.120000000'
 '1970-01-01T00:04:22.828800000' '1970-01-01T00:05:15.532800000'
 '1970-01-01T00:26:14.294400000' '1969-12-31T23:56:08.534400000'
 '1970-01-01T00:24:06.249600000' '1970-01-01T00:25:08.544000000'
 '1970-01-01T00:20:23.078400000' '1970-01-01T00:16:36.105600000'
 '1970-01-01T00:25:35.760000000' '1970-01-01T00:24:56.188800000'
 '1970-01-01T00:24:53.769600000' '1970-01-01T00:24:53.683200000'
 '1970-01-01T00:24:53.596800000' '1970-01-01T00:24:53.337600000'
 '1970-01-01T00:20:18.585600000' '1970-01-01T00:15:28.195200000'
 '1969-12-31T23:58:18.998400000' '1970-01-01T00:23:43.440000000'
 '1970-01-01T00:23:17.520000000' '1969-12-31T23:38:57.696000000'
 '1970-01-01T00:21:51.552000000' '1970-01-01T00:22:08.486400000'
 '1970-01-01T00:25:02.236800000' '1970-01-01T00:12:50.428800000'
 '1970-01-01T00:17:34.425600000' '1970-01-01T00:13:29.913600000'
 '1970-01-01T00:03:53.971200000' '1970-01-01T00:23:35.923200000'
 '1969-12-31T23:56:00.585600000' '1970-01-01T00:25:07.593600000'
 '1970-01-01T00:25:25.305600000' '1970-01-01T00:01:59.664000000'
 '1970-01-01T00:06:37.008000000' '1969-12-31T23:59:07.296000000'
 '1970-01-01T00:24:30.960000000' '1970-01-01T00:24:28.800000000'
 '1970-01-01T00:25:29.884800000' '1970-01-01T00:25:31.872000000'
 '1970-01-01T00:25:27.811200000' '1970-01-01T00:20:10.636800000'
 '1969-12-31T23:59:20.515200000' '1970-01-01T00:25:33.168000000'
 '1970-01-01T00:06:00.201600000' '1970-01-01T00:18:56.073600000'
 '1970-01-01T00:02:48.134400000' '1970-01-01T00:22:49.872000000'
 '1970-01-01T00:20:59.625600000' '1970-01-01T00:22:05.376000000'
 '1970-01-01T00:26:20.428800000' '1969-12-31T23:56:46.896000000'
 '1970-01-01T00:22:52.204800000' '1970-01-01T00:23:50.438400000'
 '1970-01-01T00:26:08.678400000' '1970-01-01T00:26:08.764800000'
 '1970-01-01T00:26:08.851200000' '1970-01-01T00:26:11.097600000'
 '1970-01-01T00:26:08.592000000' '1969-12-31T23:36:01.440000000'
 '1970-01-01T00:11:54.614400000' '1970-01-01T00:11:34.224000000'
 '1970-01-01T00:10:46.790400000' '1970-01-01T00:10:31.152000000'
 '1969-12-31T23:54:10.166400000' '1970-01-01T00:21:55.267200000'
 '1970-01-01T00:13:08.918400000' '1970-01-01T00:26:06.259200000'
 '1970-01-01T00:26:10.752000000' '1969-12-31T23:57:06.336000000'
 '1969-12-31T23:57:11.692800000' '1970-01-01T00:12:42.480000000'
 '1970-01-01T00:03:38.246400000' '1970-01-01T00:06:18.691200000'
 '1969-12-31T23:46:19.459200000' '1970-01-01T00:20:47.616000000'
 '1970-01-01T00:25:40.512000000' '1970-01-01T00:27:59.529600000'
 '1970-01-01T00:27:40.867200000' '1970-01-01T00:27:33.004800000'
 '1970-01-01T00:10:44.198400000' '1970-01-01T00:02:32.496000000'
 '1970-01-01T00:00:31.795200000' '1970-01-01T00:26:28.809600000'
 '1970-01-01T00:26:08.073600000' '1970-01-01T00:13:06.240000000'
 '1969-12-31T23:49:10.358400000' '1970-01-01T00:20:20.227200000'
 '1970-01-01T00:26:01.420800000' '1970-01-01T00:26:01.334400000'
 '1970-01-01T00:20:17.548800000' '1970-01-01T00:20:31.891200000'
 '1970-01-01T00:14:25.123200000' '1970-01-01T00:15:33.206400000'
 '1970-01-01T00:23:29.270400000' '1970-01-01T00:08:27.600000000'
 '1970-01-01T00:09:01.555200000' '1970-01-01T00:17:21.379200000'
 '1969-12-31T23:56:19.334400000' '1970-01-01T00:18:39.398400000'
 '1970-01-01T00:24:13.852800000' '1970-01-01T00:16:02.755200000'
 '1969-12-31T23:57:01.065600000' '1969-12-31T23:57:40.550400000'
 '1970-01-01T00:25:44.572800000' '1970-01-01T00:02:14.265600000'
 '1970-01-01T00:20:31.718400000' '1970-01-01T00:27:48.988800000'
 '1970-01-01T00:26:07.468800000' '1970-01-01T00:23:29.529600000'
 '1970-01-01T00:24:11.952000000' '1969-12-31T23:52:51.283200000'
 '1970-01-01T00:25:31.785600000' '1970-01-01T00:19:11.971200000'
 '1970-01-01T00:27:38.188800000' '1970-01-01T00:25:00.595200000'
 '1970-01-01T00:26:00.816000000' '1970-01-01T00:26:02.198400000'
 '1970-01-01T00:06:05.472000000' '1970-01-01T00:25:31.094400000'
 '1970-01-01T00:24:58.608000000' '1970-01-01T00:25:30.144000000'
 '1970-01-01T00:26:09.888000000' '1970-01-01T00:25:38.438400000'
 '1969-12-31T23:48:25.689600000' '1969-12-31T23:55:00.105600000'
 '1970-01-01T00:24:54.892800000' '1970-01-01T00:14:51.388800000'
 '1970-01-01T00:18:19.440000000' '1970-01-01T00:24:36.316800000'
 '1970-01-01T00:24:46.080000000' '1970-01-01T00:27:35.856000000'
 '1970-01-01T00:05:33.936000000' '1970-01-01T00:24:24.192000000'
 '1969-12-31T23:57:51.091200000' '1970-01-01T00:28:02.899200000'
 '1970-01-01T00:12:06.105600000' '1970-01-01T00:23:28.060800000'
 '1970-01-01T00:24:40.464000000' '1970-01-01T00:23:04.128000000'
 '1970-01-01T00:01:26.745600000' '1970-01-01T00:22:12.374400000'
 '1970-01-01T00:24:21.888000000' '1970-01-01T00:24:22.838400000'
 '1970-01-01T00:24:24.048000000' '1969-12-31T23:54:57.513600000'
 '1970-01-01T00:24:06.595200000' '1970-01-01T00:27:32.918400000'
 '1970-01-01T00:27:32.745600000' '1970-01-01T00:27:32.832000000'
 '1970-01-01T00:25:58.656000000' '1969-12-31T23:57:45.820800000'
 '1970-01-01T00:25:16.579200000' '1970-01-01T00:24:45.734400000'
 '1969-12-31T23:53:51.676800000' '1969-12-31T23:53:56.947200000'
 '1970-01-01T00:25:37.488000000' '1970-01-01T00:02:03.552000000'
 '1970-01-01T00:01:37.372800000' '1969-12-31T23:42:06.998400000'
 '1970-01-01T00:03:30.384000000' '1970-01-01T00:02:50.812800000'
 '1970-01-01T00:21:49.392000000' '1969-12-31T23:37:23.001600000'
 '1970-01-01T00:12:24.163200000' '1970-01-01T00:02:27.225600000'
 '1969-12-31T23:56:32.121600000' '1970-01-01T00:03:32.976000000'
 '1970-01-01T00:01:45.062400000' '1970-01-01T00:22:00.969600000'
 '1970-01-01T00:18:40.176000000' '1970-01-01T00:20:33.446400000'
 '1970-01-01T00:26:04.876800000' '1970-01-01T00:26:03.408000000'
 '1970-01-01T00:26:03.321600000' '1970-01-01T00:23:26.851200000'
 '1970-01-01T00:07:53.472000000' '1970-01-01T00:16:27.379200000'
 '1970-01-01T00:01:08.256000000' '1970-01-01T00:26:09.974400000'
 '1969-12-31T23:36:19.929600000' '1970-01-01T00:15:38.736000000'
 '1970-01-01T00:27:33.696000000' '1970-01-01T00:18:10.281600000'
 '1970-01-01T00:23:32.121600000' '1970-01-01T00:26:01.680000000'
 '1970-01-01T00:26:01.593600000' '1970-01-01T00:26:01.507200000'
 '1969-12-31T23:52:19.660800000' '1970-01-01T00:09:30.240000000'
 '1970-01-01T00:23:47.760000000' '1970-01-01T00:04:33.456000000'
 '1970-01-01T00:07:08.544000000' '1970-01-01T00:27:07.776000000'
 '1970-01-01T00:20:36.729600000' '1969-12-31T23:59:50.409600000'
 '1970-01-01T00:02:37.827600000' '1970-01-01T00:27:00.345600000'
 '1970-01-01T00:26:07.036800000' '1970-01-01T00:26:29.328000000'
 '1970-01-01T00:26:29.241600000' '1970-01-01T00:09:09.504000000'
 '1970-01-01T00:18:37.584000000' '1969-12-31T23:51:16.588800000'
 '1970-01-01T00:11:15.734400000' '1970-01-01T00:01:42.211200000'
 '1970-01-01T00:13:53.587200000' '1970-01-01T00:11:31.545600000'
 '1970-01-01T00:17:39.696000000' '1970-01-01T00:25:40.771200000'
 '1970-01-01T00:27:02.505600000' '1970-01-01T00:26:15.158400000'
 '1970-01-01T00:26:28.291200000' '1970-01-01T00:16:49.843200000'
 '1970-01-01T00:21:56.476800000' '1969-12-31T23:36:51.465600000'
 '1970-01-01T00:17:16.108800000' '1970-01-01T00:26:02.716800000'
 '1970-01-01T00:26:25.008000000' '1970-01-01T00:26:02.025600000'
 '1970-01-01T00:26:10.492800000' '1970-01-01T00:26:10.147200000'
 '1970-01-01T00:26:03.235200000' '1970-01-01T00:26:13.516800000'
 '1970-01-01T00:26:10.406400000' '1970-01-01T00:26:10.233600000'
 '1969-12-31T23:55:29.049600000' '1970-01-01T00:25:58.915200000'
 '1970-01-01T00:04:30.777600000' '1970-01-01T00:26:11.702400000'
 '1970-01-01T00:26:13.171200000' '1970-01-01T00:26:11.616000000'
 '1970-01-01T00:26:11.443200000' '1970-01-01T00:26:05.222400000'
 '1970-01-01T00:26:05.308800000' '1970-01-01T00:26:05.568000000'
 '1970-01-01T00:26:05.740800000' '1970-01-01T00:26:05.827200000'
 '1970-01-01T00:26:05.913600000' '1970-01-01T00:26:06.172800000'
 '1970-01-01T00:26:06.345600000' '1970-01-01T00:26:06.432000000'
 '1970-01-01T00:26:06.950400000' '1970-01-01T00:26:05.136000000'
 '1970-01-01T00:26:07.728000000' '1970-01-01T00:19:29.510400000'
 '1969-12-31T23:48:57.398400000' '1970-01-01T00:04:07.190400000'
 '1970-01-01T00:21:30.384000000' '1970-01-01T00:23:32.208000000'
 '1970-01-01T00:02:35.088000000' '1970-01-01T00:26:54.729600000'
 '1970-01-01T00:19:39.360000000' '1970-01-01T00:24:29.145600000'
 '1970-01-01T00:27:10.454400000' '1970-01-01T00:25:42.240000000'
 '1970-01-01T00:16:36.624000000' '1970-01-01T00:16:39.302400000'
 '1970-01-01T00:25:58.569600000' '1969-12-31T23:54:23.212800000'
 '1970-01-01T00:26:10.579200000' '1970-01-01T00:02:29.817600000'
 '1970-01-01T00:23:33.331200000' '1970-01-01T00:13:24.556800000'
 '1969-12-31T23:23:11.011200000' '1970-01-01T00:26:03.753600000'
 '1970-01-01T00:27:34.041600000' '1969-12-31T23:25:30.288000000'
 '1970-01-01T00:01:16.204800000' '1970-01-01T00:26:35.894400000'
 '1970-01-01T00:26:02.889600000' '1970-01-01T00:22:51.772800000'
 '1969-12-31T23:59:56.716800000' '1970-01-01T00:26:06.777600000'
 '1970-01-01T00:16:05.952000000' '1970-01-01T00:26:06.864000000'
 '1970-01-01T00:26:11.788800000' '1970-01-01T00:12:37.382400000'
 '1970-01-01T00:17:26.908800000' '1970-01-01T00:18:34.905600000'
 '1970-01-01T00:25:46.905600000' '1970-01-01T00:26:34.598400000'
 '1970-01-01T00:26:28.550400000' '1970-01-01T00:24:41.328000000'
 '1970-01-01T00:07:29.625600000' '1969-12-31T23:48:38.822400000'
 '1970-01-01T00:16:29.625600000' '1970-01-01T00:09:04.233600000'
 '1969-12-31T23:47:22.617600000' '1969-12-31T23:47:35.664000000'
 '1970-01-01T00:24:00.979200000' '1970-01-01T00:26:03.148800000'
 '1970-01-01T00:21:26.841600000' '1970-01-01T00:25:22.886400000'
 '1970-01-01T00:17:04.099200000' '1970-01-01T00:16:32.304000000'
 '1970-01-01T00:24:28.886400000' '1970-01-01T00:24:36.921600000'
 '1970-01-01T00:25:12.086400000' '1969-12-31T23:37:36.048000000'
 '1970-01-01T00:20:38.544000000' '1970-01-01T00:27:31.363200000'
 '1970-01-01T00:12:53.020800000' '1970-01-01T00:18:24.537600000'
 '1970-01-01T00:12:18.892800000' '1970-01-01T00:17:52.915200000'
 '1970-01-01T00:22:14.102400000' '1970-01-01T00:02:56.083200000'
 '1970-01-01T00:21:07.747200000' '1970-01-01T00:04:09.782400000'
 '1970-01-01T00:27:34.646400000' '1970-01-01T00:27:33.264000000'
 '1969-12-31T23:54:25.891200000' '1970-01-01T00:24:27.331200000'
 '1970-01-01T00:24:24.739200000' '1970-01-01T00:26:47.299200000'
 '1970-01-01T00:24:54.288000000' '1970-01-01T00:08:24.921600000'
 '1970-01-01T00:25:39.302400000' '1970-01-01T00:25:40.252800000'
 '1970-01-01T00:20:41.740800000' '1970-01-01T00:20:52.540800000'
 '1970-01-01T00:26:18.009600000' '1970-01-01T00:26:23.020800000'
 '1970-01-01T00:27:47.260800000' '1970-01-01T00:03:26.582400000'
 '1970-01-01T00:27:09.936000000' '1969-12-31T23:56:03.177600000'
 '1970-01-01T00:02:03.638400000' '1970-01-01T00:25:58.396800000'
 '1970-01-01T00:25:57.964800000' '1970-01-01T00:27:47.779200000'
 '1970-01-01T00:21:03.427200000' '1970-01-01T00:23:05.683200000'
 '1970-01-01T00:04:25.507200000' '1970-01-01T00:24:28.281600000'
 '1970-01-01T00:01:47.740800000' '1970-01-01T00:20:50.208000000'
 '1970-01-01T00:18:30.326400000' '1970-01-01T00:11:56.169600000'
 '1970-01-01T00:08:29.932800000' '1970-01-01T00:06:50.227200000'
 '1970-01-01T00:16:05.001600000' '1969-12-31T23:34:58.281600000'
 '1970-01-01T00:27:05.529600000' '1970-01-01T00:24:35.625600000'
 '1970-01-01T00:25:02.928000000' '1970-01-01T00:25:03.273600000'
 '1970-01-01T00:19:40.310400000' '1970-01-01T00:25:23.318400000'
 '1970-01-01T00:25:01.545600000' '1970-01-01T00:25:04.051200000'
 '1970-01-01T00:25:01.200000000' '1970-01-01T00:24:54.374400000'
 '1970-01-01T00:26:30.105600000' '1970-01-01T00:26:30.019200000'
 '1970-01-01T00:26:29.932800000' '1970-01-01T00:26:35.462400000'
 '1970-01-01T00:01:13.180800000' '1970-01-01T00:24:31.219200000'
 '1970-01-01T00:26:08.246400000' '1970-01-01T00:04:57.043200000'
 '1970-01-01T00:19:30.288000000' '1970-01-01T00:08:58.272000000'
 '1970-01-01T00:26:18.528000000' '1970-01-01T00:09:22.723200000'
 '1969-12-31T23:24:58.665600000' '1970-01-01T00:25:24.528000000'
 '1970-01-01T00:25:34.291200000' '1970-01-01T00:25:39.216000000'
 '1970-01-01T00:25:34.118400000' '1970-01-01T00:25:26.342400000'
 '1970-01-01T00:25:38.092800000' '1970-01-01T00:00:32.572800000'
 '1970-01-01T00:21:31.161600000' '1970-01-01T00:25:20.380800000'
 '1970-01-01T00:25:20.726400000' '1970-01-01T00:25:33.081600000'
 '1970-01-01T00:21:27.532800000' '1970-01-01T00:24:42.451200000'
 '1970-01-01T00:24:59.212800000' '1970-01-01T00:22:01.228800000'
 '1970-01-01T00:22:09.955200000' '1970-01-01T00:01:37.113600000'
 '1970-01-01T00:03:27.705600000' '1970-01-01T00:09:43.718400000'
 '1970-01-01T00:07:00.595200000' '1970-01-01T00:02:44.937600000'
 '1970-01-01T00:24:35.798400000' '1969-12-31T23:35:48.307200000'
 '1970-01-01T00:05:02.313600000' '1969-12-31T23:49:41.980800000'
 '1969-12-31T23:51:21.859200000' '1969-12-31T23:55:26.371200000'
 '1970-01-01T00:07:32.217600000' '1970-01-01T00:08:20.515200000'
 '1970-01-01T00:07:53.385600000' '1970-01-01T00:13:21.964800000'
 '1970-01-01T00:10:17.932800000' '1970-01-01T00:27:38.707200000'
 '1970-01-01T00:08:37.968000000']
BRIDGE_MAIN ['N' nan 'Y']
CRITICALITY [ 6. -1.  5.  7.  8.  0. nan  9.  4.  3.]
UNDERSIZED ['N' nan 'Y']

Pretty sure if we drop the installation dates that are missing instead of imputing them, that will get rid of all of the rest of the missing information...

In [81]:
break_data.dropna(axis=0, subset=['INSTALLATION_DATE'], inplace=True)

In [82]:
print_null_values(break_data)

OBJECTID -  0
INCIDENT_DATE -  0
BREAK_TYPE -  0
HOUR_IMPACTED -  0
STATUS -  0
BREAK_NATURE -  0
BREAK_APPARENT_CAUSE -  0
POSITIVE_PRESSURE_MAINTANED -  0
AIR_GAP_MAINTANED -  0
DISINFECTED -  0
MECHANICAL_REMOVAL -  0
FLUSHING_EXCAVATION -  0
HIGHER_VELOCITY_FLUSHING -  0
ANODE_INSTALLED -  0
BREAK_CATEGORIZATION -  0
ROADSEGMENTID -  0
STREET -  0
ASSETID -  0
ASSET_SIZE -  0
ASSET_YEAR_INSTALLED -  0
ASSET_MATERIAL -  0
ASSET_EXISTS -  0
GLOBALID -  0
longitude -  0
latitude -  0
PRESSURE_ZONE -  0
MAP_LABEL -  0
CATEGORY -  0
PIPE_SIZE -  0
MATERIAL -  0
LINED -  0
LINED_MATERIAL -  0
INSTALLATION_DATE -  0
BRIDGE_MAIN -  0
CRITICALITY -  0
UNDERSIZED -  0
SHALLOW_MAIN -  0
CONDITION_SCORE -  0
OVERSIZED -  0
CLEANED -  0
GlobalID -  0
Shape__Length -  0

In [83]:
break_data.sample(15)

,OBJECTID,INCIDENT_DATE,BREAK_TYPE,HOUR_IMPACTED,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,DISINFECTED,...,INSTALLATION_DATE,BRIDGE_MAIN,CRITICALITY,UNDERSIZED,SHALLOW_MAIN,CONDITION_SCORE,OVERSIZED,CLEANED,GlobalID,Shape__Length
3315,8850,1970-01-01 00:23:15.446400,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1969-12-31 23:46:51.081600,N,6.0,N,N,3.83,N,N,c6e70d57-8fd7-47e5-b3c4-9cf525cf9eb3,4.985097
8245,10099,1970-01-01 00:19:29.942400,MAIN,8-12 hours,REPAIR COMPLETED,CIRCUMFERENTIAL,CORROSION,Y,Y,Y,...,1969-12-31 23:58:25.305600,N,5.0,N,N,5.45,N,N,e2141449-5241-41a5-a223-494cea9a2cbd,143.744248
418,8105,1970-01-01 00:16:29.971200,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1970-01-01 00:20:01.824000,N,8.0,N,N,9.35,N,N,4946cabd-d51b-423e-8b56-1c48d18f487e,0.668591
5835,9479,1970-01-01 00:17:49.632000,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1970-01-01 00:05:47.155200,N,5.0,N,N,6.90,N,N,e2a46eec-187f-4876-a585-ccc2dc3b0367,131.176354
7872,9989,1970-01-01 00:21:06.192000,MAIN,8-12 hours,REPAIR COMPLETED,FITTING/JOINT,COMBINATION,Y,Y,Y,...,1970-01-01 00:25:56.064000,N,-1.0,N,N,9.85,N,N,a1d04f24-2540-45bb-9567-cf4f6b0a53dc,1.576866
10345,50241,1970-01-01 00:27:24.138442,MAIN,4-8 hours,CANCELLED,CIRCUMFERENTIAL,AGE,Y,Y,Y,...,1969-12-31 23:53:41.308800,N,5.0,N,N,7.75,N,N,7ef55bda-631c-49b8-be40-7cd5203b003f,0.995367
8928,10269,1970-01-01 00:25:45.350400,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1969-12-31 23:56:19.075200,N,7.0,N,N,7.85,N,N,63f50500-2d20-4e9e-909d-08400e99e2c6,0.609410
2024,8515,1970-01-01 00:16:54.422400,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1969-12-31 23:53:41.308800,N,4.0,N,N,4.55,N,N,d12d3c9e-510b-4e67-b28a-79184dc8889e,301.953636
7501,9886,1970-01-01 00:23:48.537600,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1970-01-01 00:25:35.760000,N,-1.0,N,N,9.85,N,Y,e3bf299b-975d-40e3-a4f5-c2e5a23355d2,442.686660
1831,8463,1970-01-01 00:15:49.881600,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1969-12-31 23:58:25.305600,N,7.0,N,N,7.85,N,N,0a2f7b01-123c-4833-95a9-4861a74c8308,1.460324
8522,10165,1970-01-01 00:17:24.057600,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1969-12-31 23:53:54.355200,N,5.0,N,N,3.83,N,N,35092634-e040-40dd-88b7-1541c6a6fcb0,13.650109
423,8106,1970-01-01 00:18:15.292800,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1969-12-31 23:55:47.539200,N,6.0,N,N,7.85,N,N,88a17937-34e4-4b80-90d2-02b84d18d229,1.192843
5557,9405,1970-01-01 00:18:21.600000,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1970-01-01 00:27:35.251200,N,-1.0,N,N,-1.00,N,N,fddfd87d-32d3-43ba-8327-78aa9a0fb711,2.069328
2131,8542,1970-01-01 00:23:11.385600,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1970-01-01 00:09:01.555200,N,7.0,N,N,9.10,N,N,1b8df889-8cca-4e33-8533-e3ed99a9ec1f,58.651071
895,8234,1970-01-01 00:17:19.651200,MAIN,8-12 hours,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,...,1970-01-01 00:01:03.072000,N,6.0,N,N,8.50,N,N,644d480a-a1ec-4acb-8526-f8faee800144,17.525495

Lucky for us that took care of our missing values in the `ASSET_MATERIAL` column. Now we have a clean dataset finally to do some EDA and feature engineering.

In [215]:
break_data.to_csv('../data/processed/cleaned_break_data.csv', index=False)